css html tables
table.table1 {
    border: 1px solid;
    border: red 1px solid;
  }


table.table2 {
    border: 1px solid;
    border: red 1px solid;
  }

table.table3 {
    border: 1px solid;
    width: 50%;
    border: green 1px solid;
    
  }

table, tr, td.table3 {
    border: green 1px solid ;
    
  }

